body {

  background-color: grey;
}

h1 {
  color: skyblue;
}
h3 {
  color: skyblue;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: green;
  border-width: 2px;
  width: 5%;

}
